{% extends 'base.html' %}

{% block head %}
<title>WatchTopia</title>
{% endblock %}

{% block body %}
<body class="quer-b">
<div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title">
      WatchTopia
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  
  <div class="nav-links">
    <a href="{{ url_for('hrefhome') }}">Home</a>
    <a href="{{ url_for('hrefaboutus') }}">About Us</a>
    <a href="{{ url_for('hreftool') }}">Tool</a>
    <a href="{{ url_for('hrefplatforms') }}">Platforms</a>
    <a href="{{ url_for('hrefcontact') }}">Contact Us</a>
  </div>
<div class="slidecontainer">
    <form action="/" method="post">
        <!-- Dropdown 1 -->
        
        <div></div>
        <div class="drop-div">
        <h2>Pick your top 3 favourite genres</h2>
        <label class="drop-label" for="dropdown1">1st Genre:</label>
        <select name="dropdown1">
        <div class="opt">
        <option value="Action and Adventure">Action and Adventure</option>
        <option value="Comedy">Comedy</option>
        <option value="Documentary">Documentary</option>
        <option value="Fantasy">Fantasy</option>
        <option value="Horror">Horror</option>
        <option value="Music and Musical">Music and Musical</option>
        <option value="Romance">Romance</option>
        <option value="Sport">Sport</option>
        <option value="Western">Western</option>
        <option value="Animation">Animation</option>
        <option value="Crime">Crime</option>
        <option value="Drama">Drama</option>
        <option value="History">History</option>
        <option value="Kids and Family">Kids and Family</option>
        <option value="Mystery and Thriller">Mystery and Thriller</option>
        <option value="Science-Fiction">Science-Fiction</option>
        <option value="War and Military">War and Military</option>
      </div>  
      </select>

        <!-- Dropdown 2 -->
        <label class="drop-label" for="dropdown2">2nd Genre:</label>
        <select name="dropdown2">
            <option value="Action and Adventure">Action and Adventure</option>
            <option value="Comedy">Comedy</option>
            <option value="Documentary">Documentary</option>
            <option value="Fantasy">Fantasy</option>
            <option value="Horror">Horror</option>
            <option value="Music and Musical">Music and Musical</option>
            <option value="Romance">Romance</option>
            <option value="Sport">Sport</option>
            <option value="Western">Western</option>
            <option value="Animation">Animation</option>
            <option value="Crime">Crime</option>
            <option value="Drama">Drama</option>
            <option value="History">History</option>
            <option value="Kids and Family">Kids and Family</option>
            <option value="Mystery and Thriller">Mystery and Thriller</option>
            <option value="Science-Fiction">Science-Fiction</option>
            <option value="War and Military">War and Military</option>
            </select>

        <!-- Dropdown 3 -->
        <label class="drop-label" for="dropdown3">3rd Genre:</label>
        <select name="dropdown3">
            <option value="Action and Adventure">Action and Adventure</option>
            <option value="Comedy">Comedy</option>
            <option value="Documentary">Documentary</option>
            <option value="Fantasy">Fantasy</option>
            <option value="Horror">Horror</option>
            <option value="Music and Musical">Music and Musical</option>
            <option value="Romance">Romance</option>
            <option value="Sport">Sport</option>
            <option value="Western">Western</option>
            <option value="Animation">Animation</option>
            <option value="Crime">Crime</option>
            <option value="Drama">Drama</option>
            <option value="History">History</option>
            <option value="Kids and Family">Kids and Family</option>
            <option value="Mystery and Thriller">Mystery and Thriller</option>
            <option value="Science-Fiction">Science-Fiction</option>
            <option value="War and Military">War and Military</option>
            </select>
            <input class="reco" type="submit" value="Recommend!">
        </div>
        <div class="range-div">
        <br>
        <h2>IMDB Score Importance</h2>
        <Input class="range" type="range" name="imdb" value="5" step="1" min="0" max="10" onChange="rangeSlide(this.value)" onmousemove="rangeSlide(this.value)"></Input>
        <span id="rangeValue">5</span>
        <br>
        <h2>Price Importance</h2>
        <Input class="range" type="range" name="price" value="5" step="1" min="0" max="10" onChange="rangeSlide(this.value)" onmousemove="rangeSlide(this.value)"></Input>
        <span id="rangeValue">5</span>
        <br>
        <h2>Content Amount Importance</h2>
        <Input class="range" type="range" name="content_amount" value="5" step="1" min="0" max="10" onChange="rangeSlide(this.value)" onmousemove="rangeSlide(this.value)"></Input>
        <span id="rangeValue">5</span>
        <br>
        <h2>Show Importance</h2>
        <Input class="range" type="range" name="show" value="5" step="1" min="0" max="10" onChange="rangeSlide(this.value)" onmousemove="rangeSlide(this.value)"></Input>
        <span id="rangeValue">5</span>>
        <br>
        <h2>Movie Importance</h2>
        <Input class="range" type="range" name="movie" value="5" step="1" min="0" max="10" onChange="rangeSlide(this.value)" onmousemove="rangeSlide(this.value)"></Input>
        <span id="rangeValue">5</span>
        <br>
        
      </form>
    
      <form action="/logout" method="POST">
        <button type="submit" name="Logout">Logout</button>
      </form>

      <form action="/return" method="POST">
        <button type="submit" name="Return">Return To Main Page</button>
      </form>
    </div>
    </div>
    <script type="text/javascript">
      function rangeSlide(value) {
          document.getElementById('rangeValue').innerHTML = value;
      }
    </script>
</div>

</div>
</body>
{% endblock %}